<div data-ng-controller="myCtrl">
<div class="section"></div>
<main>
    <center>

        <div class="section"></div>

        <h5 class="indigo-text">REGENERATE ID</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 50px 75px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" method="post">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                       <!-- <div class='input-field col s12'>
                            <input class='validate' type='text' name='password' id='password' data-ng-model="generateid" />
                            <label for='text'>Your ID Here</label>
                        </div>
                        <label style='float: right;'>
                              
                        </label> -->
						<h1>{{generateid}}</h1>
                    </div> 

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-small waves-effect indigo' data-ng-click="genId()" >rE-GENERATE</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>

    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
</div>